
---

### `.gitignore`

```plaintext
# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Environment files
venv/
.env

# IDE files
.idea/
.vscode/
*.swp

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Deployment
*.sqlite3

#Image
static/images/cloud.jpeg